In [206]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, f1_score, classification_report, confusion_matrix, ConfusionMatrixDisplay
import matplotlib.pyplot as plt
import seaborn as sns

In [207]:
MeuConjuntoDeDados = {
    'Calorias' : ['11345','3230','2434','3545','5600','7900','9200','12300'],
    'Metro' : ['120','160','130','981','290','340','250','230'],
    'MaxPulse' : ['76','120','90','139','110','145','123','100'],
    'Duracao': ['45','50','100','120','134','200','340','430'],
    'Passo' : ['6000','8000','20000','12000','13000','29000','12345','23409']
}

In [208]:
drop_df = pd.DataFrame(MeuConjuntoDeDados)
print(drop_df)

  Calorias Metro MaxPulse Duracao  Passo
0    11345   120       76      45   6000
1     3230   160      120      50   8000
2     2434   130       90     100  20000
3     3545   981      139     120  12000
4     5600   290      110     134  13000
5     7900   340      145     200  29000
6     9200   250      123     340  12345
7    12300   230      100     430  23409

In [209]:
shape = drop_df.shape
print(shape)

(8, 5)

In [210]:
df = pd.DataFrame(MeuConjuntoDeDados)
corr = df.corr()
print(corr)

          Calorias     Metro  MaxPulse   Duracao     Passo
Calorias  1.000000 -0.301226 -0.294493  0.601916  0.137929
Metro    -0.301226  1.000000  0.623380 -0.031903 -0.013871
MaxPulse -0.294493  0.623380  1.000000  0.151249  0.311691
Duracao   0.601916 -0.031903  0.151249  1.000000  0.513067
Passo     0.137929 -0.013871  0.311691  0.513067  1.000000

In [211]:
pd.value_counts(df['Duracao'])

Duracao
45     1
50     1
100    1
120    1
134    1
200    1
340    1
430    1
Name: count, dtype: int64

In [212]:
pd.value_counts(df['MaxPulse'])

MaxPulse
76     1
120    1
90     1
139    1
110    1
145    1
123    1
100    1
Name: count, dtype: int64

In [213]:
pd.value_counts(df['Metro'])

Metro
120    1
160    1
130    1
981    1
290    1
340    1
250    1
230    1
Name: count, dtype: int64

In [214]:
pd.value_counts(df['Calorias'])

Calorias
11345    1
3230     1
2434     1
3545     1
5600     1
7900     1
9200     1
12300    1
Name: count, dtype: int64

In [215]:
pd.value_counts(df['Passo'])

Passo
6000     1
8000     1
20000    1
12000    1
13000    1
29000    1
12345    1
23409    1
Name: count, dtype: int64

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Calorias  8 non-null      object
 1   Metro     8 non-null      object
 2   MaxPulse  8 non-null      object
 3   Duracao   8 non-null      object
 4   Passo     8 non-null      object
dtypes: object(5)
memory usage: 448.0+ bytes

In [217]:
print(df)

  Calorias Metro MaxPulse Duracao  Passo
0    11345   120       76      45   6000
1     3230   160      120      50   8000
2     2434   130       90     100  20000
3     3545   981      139     120  12000
4     5600   290      110     134  13000
5     7900   340      145     200  29000
6     9200   250      123     340  12345
7    12300   230      100     430  23409

In [218]:
df.describe()

       Calorias Metro MaxPulse Duracao Passo
count         8     8        8       8     8
unique        8     8        8       8     8
top       11345   120       76      45  6000
freq          1     1        1       1     1

In [219]:
df.sort_index(axis=1, ascending = False)

   Passo Metro MaxPulse Duracao Calorias
0   6000   120       76      45    11345
1   8000   160      120      50     3230
2  20000   130       90     100     2434
3  12000   981      139     120     3545
4  13000   290      110     134     5600
5  29000   340      145     200     7900
6  12345   250      123     340     9200
7  23409   230      100     430    12300

In [220]:
print(df.sort_index(axis = 1, ascending = False))

   Passo Metro MaxPulse Duracao Calorias
0   6000   120       76      45    11345
1   8000   160      120      50     3230
2  20000   130       90     100     2434
3  12000   981      139     120     3545
4  13000   290      110     134     5600
5  29000   340      145     200     7900
6  12345   250      123     340     9200
7  23409   230      100     430    12300

In [221]:
shape = df.size
print(shape)
shape = df.shape
print(shape)

40
(8, 5)

In [222]:
df = df.astype('int')
corr = df.corrwith(df['Calorias'])
print(corr)

Calorias    1.000000
Metro      -0.301226
MaxPulse   -0.294493
Duracao     0.601916
Passo       0.137929
dtype: float64

In [229]:
df = df.astype('int')
corr = df.corrwith(df['MaxPulse'])
print(corr)

Calorias   -0.294493
Metro       0.623380
MaxPulse    1.000000
Duracao     0.151249
Passo       0.311691
dtype: float64

In [230]:
df =  df.astype('int')
corr = df.corrwith(df['Metro'])
print(corr)

Calorias   -0.301226
Metro       1.000000
MaxPulse    0.623380
Duracao    -0.031903
Passo      -0.013871
dtype: float64

In [232]:
df = df.astype('int')
corr = df.corrwith(df['Duracao'])
print(corr)

Calorias    0.601916
Metro      -0.031903
MaxPulse    0.151249
Duracao     1.000000
Passo       0.513067
dtype: float64

In [233]:
df = df.astype('int')
corr = df.corrwith(df['Passo'])
print(corr)

Calorias    0.137929
Metro      -0.013871
MaxPulse    0.311691
Duracao     0.513067
Passo       1.000000
dtype: float64

In [234]:
sortings = df.sort_values(by="Metro")
print(sortings)

   Calorias  Metro  MaxPulse  Duracao  Passo
0     11345    120        76       45   6000
2      2434    130        90      100  20000
1      3230    160       120       50   8000
7     12300    230       100      430  23409
6      9200    250       123      340  12345
4      5600    290       110      134  13000
5      7900    340       145      200  29000
3      3545    981       139      120  12000

In [237]:
sortings = df.sort_values(by="MaxPulse");
print(sortings)

   Calorias  Metro  MaxPulse  Duracao  Passo
0     11345    120        76       45   6000
2      2434    130        90      100  20000
7     12300    230       100      430  23409
4      5600    290       110      134  13000
1      3230    160       120       50   8000
6      9200    250       123      340  12345
3      3545    981       139      120  12000
5      7900    340       145      200  29000

In [235]:
sortings = df.sort_values(by="Calorias")
print(sortings)

   Calorias  Metro  MaxPulse  Duracao  Passo
2      2434    130        90      100  20000
1      3230    160       120       50   8000
3      3545    981       139      120  12000
4      5600    290       110      134  13000
5      7900    340       145      200  29000
6      9200    250       123      340  12345
0     11345    120        76       45   6000
7     12300    230       100      430  23409